@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }
    svg,
    img {
        max-width: 100%;
    }

    a {
        @apply transition-colors ease-linear duration-200;
    }

    ::-webkit-scrollbar {
        width: 12px;
        height: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 1px;
        background: #101820;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #cbd5e0;
        border-radius: 1px;
        border-left: 1px solid #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #a0aec0;
    }
}

@layer components {
    .form__control {
        @apply flex flex-col mb-10 gap-2 relative w-full;
    }
    .form-input {
        @apply rounded-sm pt-2 pb-2 pl-2 text-black border-current focus:outline-none focus:ring-2 hover:bg-white transition hover:opacity-90;
    }
    .form__alt {
        @apply mx-auto max-w-lg mt-8 text-center flex flex-col gap-4 mb-9;
    }

    .form__alt a {
        @apply text-green-primary hover:text-opacity-80 hover:underline;
    }

    .btn {
        @apply inline-block pt-1 pb-2 pl-2 pr-2 text-white-primary rounded transition duration-200;
    }

    .btn-icon {
        @apply p-0;
    }

    .btn-general {
        @apply hover:bg-black-smooth;
    }

    .btn-submit {
        @apply mx-auto pl-8 pr-8 text-xl;
        /* @apply mx-auto pl-8 pr-8 text-xl !important; */
    }

    .btn-submit-enable {
        @apply bg-green-secondary hover:bg-green-secondary hover:bg-opacity-80;
    }

    .btn-submit-disable {
        @apply bg-green-dark hover:bg-green-dark cursor-not-allowed;
    }

    .btn-reset {
        @apply pl-8 pr-8 text-xl bg-red-primary text-white hover:bg-opacity-70;
    }
}

@layer utilities {
    @variants responsive {
        .box-shadow {
            box-shadow: 0.2rem 0.2rem 1rem rgb(0 0 0 / 20%),
                -0.2rem -0.2rem 1rem rgb(0 0 0 / 20%);
            @apply transition-shadow duration-200 ease-in-out;
        }
        .box-shadow:hover {
            box-shadow: 0 0 0.4rem rgb(0 0 0 / 30%), 0 0 0.4rem rgb(0 0 0 / 30%);
        }
        .navHomeAsideTop {
            top: 70px;
        }
    }

    .rounded-50 {
        border-radius: 50%;
    }

    .trans-x-50 {
        transform: translateX(-50%);
    }

    .bg-gradient {
        /* background-image: linear-gradient(to left bottom, #cbd5e0, #a0aec0); */
        /* background-image: linear-gradient(135deg, #a0aec0, #a0aec0, #b3cff2, #a6cdff); */
        /* background-image: linear-gradient(
            135deg,
            #b3cff2,
            #b3cff2,
            #a6cdff,
            #a6cdff,
            #a6cdff
        ); */
        background-image: linear-gradient(
            135deg,
            #33333333,
            #101820,
            #101820,
            #101820,
            #101820,
            #242526
        );
    }

    .hyphens-manual {
        hyphens: manual;
    }

    .error-container {
        /* font-size: 106px; */
        @apply text-9xl;
    }
    .error-container > span {
    }
    .error-container > span.four {
        width: 136px;
        height: 43px;
        background: linear-gradient(
                140deg,
                rgba(0, 0, 0, 0.1) 0%,
                rgba(0, 0, 0, 0.07) 43%,
                transparent 44%,
                transparent 100%
            ),
            linear-gradient(
                105deg,
                transparent 0%,
                transparent 40%,
                rgba(0, 0, 0, 0.06) 41%,
                rgba(0, 0, 0, 0.07) 76%,
                transparent 77%,
                transparent 100%
            ),
            /* linear-gradient(to right, #d89ca4, #e27b7e); */
                linear-gradient(to right, #2bae66, #3a9);
    }
    .error-container > span.four:before,
    .error-container > span.four:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 999px;
    }
    .error-container > span.four:before {
        width: 43px;
        height: 156px;
        left: 60px;
        bottom: -43px;
        background: linear-gradient(
                128deg,
                rgba(0, 0, 0, 0.1) 0%,
                rgba(0, 0, 0, 0.07) 40%,
                transparent 41%,
                transparent 100%
            ),
            linear-gradient(
                116deg,
                rgba(0, 0, 0, 0.1) 0%,
                rgba(0, 0, 0, 0.07) 50%,
                transparent 51%,
                transparent 100%
            ),
            /* linear-gradient(to top, #99749d, #b895ab, #cc9aa6, #d7969e, #e0787f); */
                linear-gradient(to top, #393, #3a7, #3a8, #399, #3a9);
    }
    .error-container > span.four:after {
        width: 137px;
        height: 43px;
        transform: rotate(-49.5deg);
        left: -18px;
        bottom: 36px;
        /* background: linear-gradient(
            to right,
            #99749d,
            #b895ab,
            #cc9aa6,
            #d7969e,
            #e0787f
        ); */
        background: linear-gradient(to top, #393, #3a7, #3a8, #399, #3a9);
    }

    .error-container > span.zero {
        vertical-align: text-top;
        width: 156px;
        height: 156px;
        border-radius: 999px;
        background: linear-gradient(
                -45deg,
                transparent 0%,
                rgba(0, 0, 0, 0.06) 50%,
                transparent 51%,
                transparent 100%
            ),
            /* linear-gradient(
                to top right,
                #99749d,
                #99749d,
                #b895ab,
                #cc9aa6,
                #d7969e,
                #ed8687,
                #ed8687
            ); */
                linear-gradient(to top, #393, #3a7, #3a8, #399, #3a9);
        overflow: hidden;
        animation: bgshadow 5s infinite;
    }
    .error-container > span.zero:before {
        content: "";
        display: block;
        position: absolute;
        transform: rotate(45deg);
        width: 90px;
        height: 90px;
        background-color: transparent;
        left: 0px;
        bottom: 0px;
        background: linear-gradient(
                95deg,
                transparent 0%,
                transparent 8%,
                rgba(0, 0, 0, 0.07) 9%,
                transparent 50%,
                transparent 100%
            ),
            linear-gradient(
                85deg,
                transparent 0%,
                transparent 19%,
                rgba(0, 0, 0, 0.05) 20%,
                rgba(0, 0, 0, 0.07) 91%,
                transparent 92%,
                transparent 100%
            );
    }
    .error-container > span.zero:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 999px;
        width: 70px;
        height: 70px;
        left: 43px;
        bottom: 43px;
        background: #fdfaf5;
        box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    }

    .screen-reader-text {
        position: absolute;
        top: -9999em;
        left: -9999em;
    }

    @keyframes bgshadow {
        0% {
            box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
        }
        45% {
            box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
        }
        55% {
            box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
        }
        100% {
            box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
        }
    }
}
